@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 30% 6%;
    --foreground: 213 25% 90%;
    --card: 228 30% 8%;
    --card-foreground: 213 25% 90%;
    --border: 220 25% 14%;
    --input: 220 25% 14%;
    --ring: 239 84% 67%;
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 30% 13%;
    --secondary-foreground: 213 25% 90%;
    --muted: 228 30% 11%;
    --muted-foreground: 215 16% 48%;
    --accent: 228 30% 12%;
    --accent-foreground: 213 25% 90%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
